.audiojsZ {
    width: 40px;
    height: 36px;
    background: #ffffff;
    overflow: hidden;
    font-family: monospace;
    font-size: 12px;

    position: relative;
    left: 320px;
    top: -36px;
}

.audiojsZ .play-pauseZ {
    width: 34px;
    height: 40px;
    padding: 4px 6px;
    margin: 0px;
    float: left;
    overflow: hidden;
}

.audiojsZ p {
    display: none;
    width: 25px;
    height: 40px;
    margin: 0px;
    cursor: pointer;
}

.audiojsZ .playZ {
    display: block;
}

.audiojsZ .scrubberZ {
    position: relative;
    float: left;
    width: 280px;
    background: #FFFFFF;
    height: 14px;
    margin: 10px;
    border-left: 0px;
    border-bottom: 0px;
    overflow: hidden;
}

.audiojsZ .progressZ {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 14px;
    width: 0px;
    background: #600;
    z-index: 1;
}

.audiojsZ .loadedZ {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 14px;
    width: 0px;
    background: #c00;
}

.audiojsZ .timeZ {
    float: left;
    height: 36px;
    line-height: 36px;
    margin: 0px 0px 0px 6px;
    padding: 0px 6px 0px 12px;
    border-left: 1px solid #c00;
    color: #600;
    text-shadow: 1px 1px 0px rgba(125, 0, 0, 0.5);
}

.audiojsZ .timeZ em {
    padding: 0px 2px 0px 0px;
    color: #fcc;
    font-style: normal;
}

.audiojsZ .timeZ strong {
    padding: 0px 0px 0px 2px;
    font-weight: normal;
}

.audiojsZ .error-messageZ {
    float: left;
    display: none;
    margin: 0px 10px;
    height: 36px;
    width: 400px;
    overflow: hidden;
    line-height: 36px;
    white-space: nowrap;
    color: #fff;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.audiojsZ .error-messageZ a {
    color: #eee;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #999;
    white-space: wrap;
}

.audiojsZ .playZ {
    background: url('../lib/audiojs/player-play.png') no-repeat;
}

.audiojsZ .loadingZ {
    background: url('../lib/audiojs/player-loading.gif') no-repeat;
}

.audiojsZ .errorZ {
    background: url('../lib/audiojs/player-cancel.png') no-repeat;
}

.audiojsZ .pauseZ {
    background: url('../lib/audiojs/player-pause.png') no-repeat;
}

.playingZ .playZ, .playingZ .loadingZ, .playingZ .errorZ {
    display: none;
}

.playingZ .pauseZ {
    display: block;
}

.loadingZ .playZ, .loadingZ .pauseZ, .loadingZ .errorZ {
    display: none;
}

.loadingZ .loadingZ {
    display: block;
}

.errorZ .timeZ, .errorZ .playZ, .errorZ .pauseZ, .errorZ .scrubberZ, .errorZ .loadingZ {
    display: none;
}

.errorZ .errorZ {
    display: block;
}

.errorZ .play-pauseZ p {
    cursor: auto;
}

.errorZ .error-messageZ {
    display: block;
}